# Virtual environments
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Build files
dist/
build/

# IDE files
.vscode/
.idea/

# Zip files
*.zip

#d:\rag\venv\Scripts\Activate.ps1
#cd d:\rag
#uvicorn backend.main:app --host 0.0.0.0 --port 8000 --reload
